#gitignore

#text files
*.txt

#jupyter notebooks
*.ipynb

#python files
testing.py

#pyc files
*.pyc

#directories
data
__pycache__
pictures
logs
venv

#json files
*.json

#csv files
*.csv

#other files
.DS_Store