#gitignore

#environment variables
.env

#text files
*.txt

#jupyter notebooks
*.ipynb

#shell scripts
keys.sh

#json files
keys.json
config.json

#python files
testing.py

#log files
*.log

#pyc files
*.pyc

#.xlsx files
*.xlsx

#directories
__pycache__
.vscode
venv
.idea
notebooks

#csv files
*.csv

#other files
.DS_Store

